<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Film & Serie TV</title>
</head>
<body>
    <header>
        <h1>Movie Tracker App</h1>
        <nav role="navigation" aria-label="Navigazione principale e ricerca">
            <!-- Barra di Ricerca per Film -->
            <form action="/search" method="get">
                <label for="search-input-pre">Cerca Film o Serie TV:</label>
                <input type="search" name="query" id="search-input-pre" placeholder="Inserisci titolo...">
                <button type="submit">Cerca</button>
            </form>
            
            <!-- Controlli login e sign up -->
            <section role="group" aria-label="Accesso utente">
                <a href="/login" role="button">Login</a>
                <!-- Il link/bottone per Sign Up che poi reindirizza alla pagina di login dopo la creazione dell'account -->
                <a href="/signup" role="button">Sign Up</a>
            </section>
        </nav>
    </header>


</body>
</html>
